<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D5E472B23E3A0A400FD427D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5E474123E3A0A700FD427D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5E474C23E3A0A700FD427D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
